@font-face {
  font-family: 'Knockout';
  src: url('../fonts/Knockout-HTF47-Bantamweight.woff2') format('woff2'), url('../fonts/Knockout-HTF47-Bantamweight.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aribau';
  src: url('../fonts/AribauGrotesk-Medium.woff2') format('woff2'), url('../fonts/AribauGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Aribau';
  src: url('../fonts/AribauGrotesk-Light.woff2') format('woff2'), url('../fonts/AribauGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}