.footer-feature {
	border-top: 1px solid rgba($dark, 0.15);
	padding: 110px 0;
}

.footer-feature__inner {
	display: flex;
	align-items: center;
}

.footer-feature__item {
	width: 25%;
	text-align: center;

	img {
		width: 170px;
	}
}

.footer-instagram {
	display: flex;
}

.footer {
	background: $dark;
}

.footer__subscribe {
	padding: 100px 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(#fff, 0.2);
}

.footer__subscribe-title {
	font-size: 50px;
	color: #fff;
	margin: 0 8% 0 0;
}

.footer__subscribe-paragraph {
	margin: 0 8% 0 0;
	width: 250px;
}

.footer__subscribe-form {
	position: relative;
	flex: 1 1 auto;
}

.footer__subscribe-input {

	&::-webkit-input-placeholder {
	  color: #fff;
	}

	&::-moz-placeholder {
	  color: #fff;
	}

	&:-ms-input-placeholder {
	  color: #fff;
	}

	&:-moz-placeholder {
	  color: #fff;
	}
}

.footer__subscribe-button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: transparent;
	color: #fff;
	border: 0;
}

.footer__middle {
	padding: 200px 0;
	display: flex;
}

.footer__middle-item {
	width: 33.333%;
	text-align: center;
}

.footer__middle-subtitle {
	margin: 0 0 30px 0;
}

.footer__middle-title {
	color: #fff;
	font-size: 50px;
	vertical-align: middle;

	img {
		margin: -10px 0 0 10px;
	}
}

.footer__middle-social {
	img {
		margin: 0 10px 0;
	}
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
	border-top: 1px solid rgba(#fff, 0.2);
}

.footer__bottom-left {
	img {
		margin: 0 30px 0 0;
	}
}

.footer__bottom-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		margin: 0 0 0 30px;
	}

	a {
		text-decoration: none;
		color: $body;
	}
}

.footer-chat {
	text-align: center;
	padding: 140px 0;
}

.footer-chat__title {
	font-size: 147px;
	margin: 0;
	padding: 0;

	img {
		position: relative;
		top: -10px;
	}
}