.page-blog {
    padding: 110px 0 50px 0;
    background: $dark;

    a {
        text-decoration: none;
    }

    .home-blog__item-title {
        color: #fff;
    }

    @media screen and (min-width: 600px) {
        padding: 130px 0 70px 0;
    }

    @media screen and (min-width: 800px) {
        padding: 210px 0 100px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 250px 0 140px 0;
    }
}

.page-blog__top {
    display: block;
    padding: 0 0 35px 0;

    @media screen and (min-width: 600px) {
        padding: 0 0 70px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (min-width: 800px) {
        padding: 0 0 100px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 0 0 140px 0;
    }
}

.page-blog__title {
    margin: 0;
    color: #fff;
}

.blog-hero {
    position: relative;
}

.blog-hero__container {
    position: relative;
    z-index: 3;
}

.blog-hero__title {
    color: #fff;
    padding: calc(20% + 100px) 0 calc(8.5% + 20px) 0;
    margin: 0;
    width: 100%;

    @media screen and (min-width: 800px) {
        width: 50%;
    }
}

.blog-hero__bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-size: cover;
    background-position: 50% 50%;

    &::after {
        content: '';
        @include linear-gradient(rgba($dark, 0.5), $dark);
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        opacity: 0.3;
    }
}

.blog-meta {
    position: absolute;
    bottom: -19px;
    right: auto;
    left: 0;
    z-index: 9;
    background: $dark;
    display: flex;
    align-items: center;

    @media screen and (min-width: 600px) {
        left: auto;
        right: 0;
        bottom: -23px;
    }
}

.blog-meta__date {
    color: #fff;
    background: #111;
    display: inline-block;
    padding: 8px 16px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    @media screen and (min-width: 600px) {
        padding: 12px 20px;
    }
}

.blog-content {
    padding: 50px 0;

    a {
        border-bottom: 1px solid #222729;
        text-decoration: none;
        color: #111;
    }

    .slick-slider {
        margin-left: 0;
    }

    .wp-block-image {
        padding: 60px 0;
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 10px 0 0 0;
        color: $dark;
    }

    p {
        margin: 2em 0;
    }

    ul {
        margin-left: 20px;
        list-style-type: circle;
    }

    figcaption {
        position: relative;
        top: -17px;
        margin: 0 0 -17px 0;
        color: #fff;
        background: #111;
        display: inline-block;
        padding: 7px 16px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .alignwide {
        max-width: 1340px;
    }

    .alignfull {
        margin-left  : calc( -100vw / 2 + 100% / 2 );
        margin-right : calc( -100vw / 2 + 100% / 2 );
        max-width    : 100vw;
    }

    .alignfull img {
        width: 100vw;
    }

    .wp-block-gallery {
        margin-bottom: 70px !important;

        img {
            margin: 0 !important;
        }
    }

    .blocks-gallery-item {
        margin: 0 !important;
    }

    .wp-block-blockgallery-masonry,
    .wp-block-blockgallery-stacked {
        position: relative;
    }

    @media screen and (min-width: 600px) {
        padding: 70px 0;
    }

    @media screen and (min-width: 800px) {
        padding: 100px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 140px 0;
    }
}

.blog-content__container {
    max-width: 700px;
}