.button {
	display: inline-block;
	padding: 8px 24px;
    background-color: $primary;
    color: $dark;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid $primary;
    transition: all .2s ease-in-out;

    &:hover {
        transform: translateY(3px);
        background-color: darken($primary, 10%);
    }
}

.button--outline {
	border: 1px solid $dark;
	background-color: transparent;

    &:hover {
        background-color: transparent;
        border-color: rgba($dark, .5)
    }
}