*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    max-width: 100%;
    box-sizing: border-box;
    min-height: 100%;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Aribau';
    color: $body;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.container {
    max-width: 1270px;
    width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: $dark;
    font-family: 'Knockout';
    font-weight: normal;
    text-transform: uppercase;
    line-height: 0.85em;
    letter-spacing: 0.03em;
    margin: 0 0 20px 0;
}

h1 {
    font-size: 80px;

    @media screen and (min-width: 600px) {
        font-size: calc(20px + 7vw);
    }
}

.title__highlight {
    display: block;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: #fff;
    color: transparent;
}

h2 {
    font-size: 70px;

    @media screen and (min-width: 600px) {
        font-size: calc(20px + 6vw);
    }
}

h3 {
    font-size: 50px;

    @media screen and (min-width: 600px) {
        font-size: calc(20px + 4vw);
    }
}

h4 {
    font-size: 40px;
}

h6 {
    font-family: 'Aribau';
    color: #898989;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin: 0 0 15px 0;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    background: transparent;
    font-family: 'Aribau';
    font-size: 16px;
    font-weight: 300;
    padding: 16px 20px;
    color: #fff;
    border: 1px solid #fff;
    outline: 0;
    border-radius: 0;
}

.pattern {
    background-color: $dark;
    height: 130px;
    background-image: url('../img/pattern_triangle-light.svg');
    background-size: auto 205%;
    background-position: 50% 48%;

    @media screen and (max-width: 600px) {
        height: 70px;
    }
}

.pattern--dark {
    background-color: #fff;
    height: 130px;
    background-image: url('../img/pattern_triangle-dark.svg');
    background-size: auto 205%;
    background-position: 50% 48%;
    border-bottom: 0.1em solid $dark;

    @media screen and (max-width: 600px) {
        height: 70px;
        border-bottom: 1px solid $dark;
    }
}

.barba-overlay {
    background: #acc836;
    top: 0;
    clip: rect(0, auto, auto, 0);
    bottom: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    z-index: 1040;
    transition: all .7s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.barba-overlay__inner {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: $dark;
    z-index: 9999;
    pointer-events: none;
}

.barba-overlay__logo {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    img {
        height: auto;
        margin-bottom: 0;
        width: 200px;
    }
}

.page-hero {
    background: $dark;
    position: relative;

    .pattern {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.page-hero__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-hero__left {
    width: 100%;

    @media screen and (min-width: 800px) {
        width: 50%;
    }
}

.page-hero__right {
    position: relative;
    top: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    padding: 0 0 50% 0;
    z-index: 2;
    background-size: cover;
    background-position: 75% 50%;

    @media screen and (min-width: 800px) {
        position: absolute;
        bottom: 0;
        width: 50%;
    }
}

.page-hero__left-inner {
    max-width: 510px;
    padding: 60px 0 120px 0;
    width: 100%;

    @media screen and (min-width: 600px) {
        padding: 60px 0 180px 0;
    }

    @media screen and (min-width: 800px) {
        padding: 180px 0 200px;
        width: 85%;
    }

    @media screen and (min-width: 1200px) {
        padding: 240px 0;
    }
}

.page-hero__title {
    color: #fff;
    margin: 0 0 40px 0;

    @media screen and (min-width: 1200px) {
        margin: 0 0 60px 0;
    }
}

.page-hero__paragraph {
    color: #fff;

    @media screen and (min-width: 1200px) {
        font-size: 22px;
    }
}

.half-pattern {
    position: relative;
}
    
.half-pattern__inner {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('../img/pattern_hex-light.png');
    width: 40px;
    background-size: 330px auto;
    background-position: 175px 0;

    @media screen and (min-width: 600px) {
        width: 25%;
    }

    @media screen and (min-width: 800px) {
        width: 25%;
        background-size: auto 30%;
    }

    @media screen and (min-width: 1200px) {
        width: 34%;
        background-size: auto 50%;
    }
}

.page-header {
    position: relative;
    padding: 0 0 35% 0;
    background-size: cover;
    background-position: 50% 50%;

    &::after {
        content: '';
        @include linear-gradient($dark, rgba($dark, 0));
        position: absolute;
        height: 40%;
        left: 0;
        right: 0;
        top: 0;
        z-index: 3;
        opacity: 0.4;
    }
}

.page-wrap {
    padding: 50px 0;

    @media screen and (min-width: 600px) {
        padding: 70px 0;
    }

    @media screen and (min-width: 800px) {
        padding: 100px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 140px 0;
    }
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}

.slick-slide figure {
    display: block !important;
}
.slick-slide img
{
    display: block;
    width: 100%;
    height: auto;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -40px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

